// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-background{
	background: image-url('wonhyoro-login-background.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.background{
	background: image-url('bg.png');	
}

.login-box{
	background: #ffffff;
	color: #707070;
	margin-top: 80px;
	-moz-box-shadow: 0px 2px -2px #cccccc;
	-webkit-box-shadow: 0px 2px -2px #cccccc;
	box-shadow: 0px 2px -2px #cccccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cdcdcd;

	.box-header{
		padding: 10px 10px;
		background: #eaeaea;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid #eaeaea;
	}

	.login-wid-hei{
		width: 280px;
		height: 25px;
	}

	.login-btn-wid-hei{
		width: 300px;
		height: 30px;	
	}
}

.padded{
	padding: 15px;
}

.sidebar{
	background-color: #1b1b1b;
}

.dashboard{
	.wonhyoro-dashboard-image{
		width: 100%;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;		
	}
}

.poster-loc{
	margin-left: 30px;
}

li.side-menu{
	font-size: 17px;
}

.new-teaser{
	margin-left: 20px;
	width: 170px;
	height: 312px;
	text-align: center;
	font-size: 50px;
	.plus{
		margin-top: 150px;
	}
}

.teaser-loc{
	overflow: hidden;
	.plus-btn{
		float: left;
	}
}

.teaser-card{
	margin-left: 20px;
	border: 1px solid;
	width: 200px;
	height: 320px;
	float: left;
	margin-bottom: 20px;

	.content{
		padding: 10px;
		text-align: center;

		img{
			height: 230px;
		}

		.youtube_size{
			width: 150px;
			height: 210px;
		}
	}
}

